<div class="category">
    <div class="cat-row">
        
        <div class="item">
            <div class="icon"></div>
            <a href="#">Restaurants</a>
        </div>
        <div class="item">
            <div class="icon"></div>
            <a href="#">Hotels</a>
        </div>
        <div class="item">
            <div class="icon"></div>
            <a href="#">Beauty Spa</a>
        </div>
        <div class="item">
            <div class="icon"></div>
            <a href="#">Home Decor</a>
        </div>
        <div class="item">
            <div class="icon"></div>
            <a href="#">Education</a>
        </div>
        <div class="item">
            <div class="icon"></div>
            <a href="#">Rent & Hire</a>
        </div>
        <div class="item">
            <div class="icon"></div>
            <a href="#">Hospitals</a>
        </div>
        <div class="item">
            <div class="icon"></div>
            <a href="#">Contractors</a>
        </div>
        
        <div class="item">
            <div class="icon"></div>
            <a href="#">Pet Shops</a>
        </div>
        <div class="item">
            <div class="icon"></div>
            <a href="#">PG/Hostels</a>
        </div>
        <div class="item">
            <div class="icon"></div>
            <a href="#">Estate Agent</a>
        </div>
        <div class="item">
            <div class="icon"></div>
            <a href="#">Dentists</a>
        </div>
        <div class="item">
            <div class="icon"></div>
            <a href="#">Consultants</a>
        </div>
        <div class="item">
            <div class="icon"></div>
            <a href="#">GYM</a>
        </div>
        <div class="item">
            <div class="icon"></div>
            <a href="#">Event Organisers</a>
        </div>
        <div class="item">
            <div class="icon"></div>
            <a href="#">Driving Schools</a>
        </div>
        
    </div>
    
</div>