.category{
    width: 100%;
    min-height: 40vh;
    margin: 30px 0px;
}
.cat-row{
    
    display: inline-grid;
    row-gap: 18px;
    column-gap: 15%;
    grid-template-columns: repeat(9, 15.2%);
}
.item{
    width: 100%;
    margin-top: 20px;
    height: 13vh;
    text-align: center;
    margin: auto;
}
.icon{
    height: 8vh;
    width: 100%;
    background-color: transparent;
    border-radius: 7px;
    /* box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px; */
    display: flex;
    color: #EC6a2f;
    align-items: center;
    justify-content: center;
}
.icon i{
    font-size: 2.0rem;
}
.item a{
    color: #111111;
    font-size: 0.9rem;
    padding-top: 5px;
    text-decoration: none;
    text-align: center;
}
.item a:hover{
    color: #EC6a2f;
}
@media screen and (max-width: 767px) {

    .cat-row{
        grid-template-columns: auto auto auto ;   
    } 
}
