<div class="card-container">
    <div class="card" *ngFor="let category of categories">
      <div style="display: flex; justify-content: space-between; align-items: center;">
        <span class="card-label">{{ category.label }}</span>
        <div style="display: flex; align-items: center;">
          <!-- <a [routerLink]="['/AllDoctors']" style="color: blue; font-family: Verdana, Geneva, Tahoma, sans-serif;">
            <span (click)="toggleItemsVisibility(category)">
              {{ category.showAll ? 'Hide All' : 'See All' }} <i class="fa-solid fa-chevron-right"></i>
            </span>
          </a> -->
          <a href="AllDoctors">See all</a>
        </div>
      </div>
      <ul class="category-items">
        <li *ngFor="let item of category.items | slice: 0 : (category.showAll ? category.items.length : 4)">
          <a href="#"><i class="{{ item.icon }} custom-icon"></i></a>
          <div>{{ item.name }}</div>
        </li>
      </ul>
    </div>
  </div>
  
