
<div *ngIf="isAllDoctorsActive; else elseContent">
 <router-outlet></router-outlet>
</div>
<ng-template #elseContent>
  <div class="search-bar">
    <input type="text" class="search-input" [placeholder]="'Search for ' + currentName" />
    <button class="search-button">
      <i class="fas fa-search"></i>
    </button>
    <button class="mic-button">
      <i class="fas fa-microphone"></i>
    </button>
  </div>
<app-advertisement></app-advertisement>
<app-category-list></app-category-list>
</ng-template>
